@charset "UTF-8";
body {
    padding:0;
    margin: 0;
    background-color: white;
    font: 16px/1.5 Verdana Helvetica, sans-serif;
}

.container {
    max-width: 950px;
    margin: auto;
    overflow: hidden;
}

/* Header */

header {
    background-color: #a2b9bc;
    overflow: hidden;
    padding: 3em;
}

.heading {
    float: left;
    text-align: center;
    border: 5px solid;
}

.heading nav li {
    display: inline;
    padding: 0 30px 0 30px;
}

.profpic {
    transform: rotate(270deg);
    border-radius: 50%;
    float: right;
}


/* Main Contents */

#main{
    float: left;
    padding-left: 50px;
}

#main h3 {
    margin: 0;
}

#about, #experience, #project {
    text-align: left;
}

/* Aside */

#sidebar {
    float: right;
    padding-left: 12px;
    padding-bottom: 30em;
    margin-bottom: 30em;
    text-align: left;
    color: white;
    background-color: #878f99;
    width: 300px;
}

#sidebar h2 {
    text-transform: uppercase;
    font-size: 18pt;
}

#sidebar h3 {
    margin-top: 1em;
    margin-bottom: 0;
}

#sidebar ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

#edu h3, p {
    margin: 0;
}

#skill {
    margin-top: 2em;
}

#lang {
    margin-top: 2em;
}

#lang li {
    display: inline;
    padding: 0 40px 0 0;
}

#contact {
    margin-top: 2em;
    border: 5px solid;
    padding: 5px;
    vertical-align: bottom;
}

#contact h3 {
    margin: 0;
    text-align: center;
}

.ui-li-icon {
    width: 25px;
    padding-right: 3px;
}

#contact li {
    font-weight: bold;
}

/* Footer */

footer {
    height: 70px;
    text-align: center;
    background-color: #a2b9bc;
    font-size: 13pt;
    font-weight: bold;
}