@charset "UTF-8";
body {
    padding: 0;
    margin: 0;
    background-color: #dfe6e9;
    
}

#wrapper {
    position: relative;
}

.container {
    max-width: 950px;
    margin: auto;
    overflow: hidden;
}

/* Header */

header {
    position: relative;
    background-color: #a2b9bc;
    overflow: hidden;
    height: 100vh;
    background-image: url(Images/background_pic2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 2em;
}

.heading {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: left;
    border: 5px solid;
    color: white;
}

.heading h1 {
    margin: 0;
    font: bold 50pt calibri, sans-serif;
}

.heading p {
    font: 30pt calibri, sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    display: inline;
    list-style: none;
    padding: 0 30px 0 30px;
    font: bold 12pt calibri, sans-serif;
    
}

.profpic {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


/* Main Contents */

#main{
    float: left;
    padding-left: 50px;
    background-color: white;
    
}

#main h1, h2 {
    padding-top: 1em;
}

#main h3 {
    margin: 0;
}

#about, #experience, #project {
    font: calibri, sans-serif;
    text-align: left;
}

/* Aside */

#sidebar {
    float: right;
    position: relative;
    padding-left: 10px;
    padding-bottom: 20em;
    margin-bottom: 30em;
    text-align: left;
    color: white;
    background-color: #878f99;
    width: 300px;
}

#sidebar h2 {
    text-transform: uppercase;
    font-size: 18pt;
}

#sidebar h3 {
    margin-top: 1em;
    margin-bottom: 0;
}

#sidebar ul {
    list-style: none;
    text-align: left;
    margin: 0;
}

#edu h3, p {
    margin: 0;
}

#skill {
    margin-top: 2em;
}

#lang {
    margin-top: 2em;
}

#lang li {
    display: inline;
    padding: 0 40px 0 0;
}

#contact {
    position: absolute;
    border: 5px solid;
    padding: 5px 5px 5px 0;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    background-color: #878f99;
}

#contact h3 {
    margin: 0;
    font-size: 20pt;
    text-align: center;
}

#contact a {
    text-decoration: none;
    color: #dfe6e9;
}

#contact a:hover {
    color: white;
}

#contact li {
    list-style: none;
    padding-top: 5px;
    padding-left: 0;
    font-weight: bold;
    font: italic bold 18pt calibri, sans-serif;   
}

.ui-li-icon {
    width: 25px;
    padding-right:8px;
    vertical-align: text-top;
}


/* Footer */

footer {
    height: 70px;
    text-align: center;
    background-color: #a2b9bc;
    font-size: 13pt;
    font-weight: bold;
}